/* All styles for your Card Components live here */
* {
    box-sizing: border-box;
}

.card-content {
    margin-left: 90px;
    margin-right: 10px;
    max-width: 600px;
    border: 1px solid lightgrey;
    padding: 10px;
}

.card-content a {
    text-decoration: none;
}

.card-content h5 {
    margin: 10px 0;
    color: black;
    font-size: 1.05rem;
    font-weight: 800;
}

.card-content p {
    margin: 15px 0;
    text-decoration: none;
    color: black;
}

.url {
    color: lightgray;
    text-decoration: none;
}