.action-button {
    width: 600px;
    padding: 15px 0;
    border: 1px solid darkgray;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 auto;

}

.number-button div button {
    width: 200px;
    font-size: 2rem;
    background-color: white;
    font-weight: 500;
    border: 1px solid darkgray;
    padding: 15px 0;
    margin: 0 auto;

}

.operator-button button {
    background-color: brown;
    color: white;
    width: 200px;
    font-size: 2rem;
    border: 1px solid darkgray;
    padding: 15px 0;
    margin: 0 auto;
}